@import "../../vars.css";

.c {
  background-color: #0e0f10;
  color: #dcdcdc;
  padding: 16px 24px;
  border-radius: 10px;
  font-family: monospace;
  width: fit-content;
  font-size: 40px;
}

.function {
  color: #f5f85d; 
}

.string {
  color: rgb(230,0,157); 
}

.default {
  color: #dcdcdc;
}

.blinkingcursor {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

