@import "../../vars.css";

.container{
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;

}
.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
}
.projects{
    display: flex;
    margin-top: 37px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}